# dependencies
/node_modules
/.pnp
.pnp.js
backend/node_modules
vanilla/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
vanilla/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
backend/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# Package locks (keeping them tracked for now)
# backend/package-lock.json
# vanilla/package-lock.json
